/* our custom styles */
.banner {
  width: 100%;
}

#banner {
  margin-bottom: 20px;
}

.section-front-page .custom-theme-marker {
  display: block;
}

.plone-navbar {
  background-color: #fafafa;
  margin-bottom: 0;
  border-bottom: 3px solid #fff557;
}

.plone-breadcrumb {
  // background-color: #fff557;
  background-color: #fafafa;
  border-top: 1px solid #fff557;
  border-bottom: 1px solid #fff557;
}

.plone-navbar-nav > .selected > a,
.plone-navbar-nav > .selected > a:focus,
.plone-navbar-nav > .selected > a:hover {
  color: #4d4d4d;
  border-top: 3px solid #fff557;
  background-color: #fafafa;
}

.plone-navbar-nav > li > a,
.plone-navbar-nav > li > a:focus {
  border-top: 3px solid white;
  color: #4d4d4d;
  background-color: #fafafa;
}

.plone-navbar-nav > li > a:hover {
  border-top: 3px solid #fff557;
  background-color: #fff557;
}

#portal-logo {
  display: none;
}

#portal-banner {
  display: none;
}

#portal-header {
  margin-bottom: 0;
  margin-top: 0;
}

#content-header {
  position: absolute;
  width: 100%;
}

#portal-anontools {
  position: relative;
  z-index: 1;
}

#portal-footer-wrapper {
  padding: 5px;
  background-color: #fafafa;
  border-top: 1px solid #fff557;
  color: #4d4d4d;
  text-align: center;
  clear: both;
}

#portal-footer-wrapper .portletWrapper:first-child {
  display: block;
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

#portal-footer-wrapper a {
  color: #4d4d4d;
}
/* TinyMCE templates */
// image-grid-2x2:

.image-grid-2x2 {
  padding: 0;
  margin: 0 0 @plone-grid-gutter-width;
  list-style: none;
  .make-row();

  > li {
    .make-xs-column(12);
    .make-sm-column(6);
    margin-top: @plone-grid-gutter-width;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

button[name="collective.disclaimer.ok"] {
  background: #b1b1b1;
}

.documentFirstHeading {
  border-bottom: 1px solid #fff557;
}

.widget-logo.default-small-logo {
  visibility: hidden;
}

#homepage-weather {
  // background-color: white;
  float: right;
}

div.weather-title {
  text-align: center;
}

#homepage-weather iframe {
  height: 60px;
  float: left;
  width: 120px;
}

.section-front-page #content .dslocations-homepage p {
  text-align: center;
}

.section-front-page #content .documentFirstHeading {
  margin-top: -30px;
}

.section-front-page #content div.dslocations-homepage p img {
  padding: 10px;
}
